<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<form method="post" th:action="@{/login}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <label><input type="text" id="login" class="fadeIn second" name="username" placeholder="login"></label>
  <label><input type="password" id="password" class="fadeIn third" name="password" placeholder="password"></label>
  <input type="submit" class="fadeIn fourth" value="Log In">
</form>
</body>
</html>
